*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}

html { 
    height: 100vh; 
}

/* Estilos CSS para el body (contiene al header el main y el footer)*/

body{
    height: 90%;
    min-height: 50%;

}


/* Estilos CSS para el header */

header {
background-color: #ffd1dcb6;
padding: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
}  

.header-principal>div {
    height: auto;
    padding: 0.2rem;
    justify-content: space-around;
    align-items: center;
    display: inline-flex; 
    vertical-align: middle;
 }

 .div-iconos {
    align-content: center;
    align-items: center;
    width: calc(100% / 6);
    
 }

.div-iconos>img {
    width: 2.5rem;
    justify-content: space-around;
    padding:0.2rem;

    }


.div-vacio {
    width: calc(100% /6);
    justify-content: center;
    -webkit-box-pack: center;
    padding: 25rem;
    flex-direction: row;
}


/* Estilos CSS para el main */

main {
    height:100%;
    
}

main>div {
    height: 100%;
    margin: 0;
    padding: 1rem;
    display: flex;
}


.imageninicio img{
    width: 80%;
    height: 80%;
    margin: 0.2rem auto 0;
}


.secciones-home {
    min-height: 4rem;
    margin: 0.5rem;
    padding: 0.2rem;
    justify-items: space-around;
    align-content: center;
 
}

.div-home { 
    padding: 0.2rem;
    float:inline-end;
    align-items: center;
    justify-content:space-around;
   }

.articulo-home {
align-content: center;
vertical-align: bottom;
justify-content: space-around;

}

.articulo-home>img{
    height: 22rem;
    width: auto;
    align-self:center;
    justify-content: space-around; 
    flex-direction: row;
    overflow: auto;
    border-radius: 10px;
   
 }


/* Estilos CSS para el menú     */

   .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    min-width: 160px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo Barra Navegación */

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu li a {
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    color: #000000;
    background-color:  #fab1c3;
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Patua One', cursive;
    font-size: 14px;
    transition: background-color 0.1s;
}

.menu li a:hover {
    background-color: #ccc;
}

/* Footer */
footer {
    background-color:  #af7a86;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: ma;

}

.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s;
    align-items: right;
    justify-content: right;
}

.redes-sociales a:hover {
    transform: scale(1.2);
}

.derechos-autor {
    font-size: 14px;
    color: #333;
    margin: 0 20px;
}

.metodos-pago img {
    width: 30px;
    margin-right:10px;
    vertical-align: middle;

}

/* FORMULARIO PARA PRESUPUESTO */
body {
    background-image: url(../img/Fondo_pagina_rosa.svg);
    background-repeat:no-repeat;
    background-size: cover;
}

form {
    margin: 30px auto;
    width: 30%;
    max-width: 600px;
    background-color: #f6e6f9;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Forum';
    text-align:left;
  }
  
  label {
    display:inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #903d68;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #f2d7e3;
    font-family: 'Forum';
    font-size: 16px;
    color: #903d68;
  }
  
  input[type="submit"] {
    background-color: #903d68;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Forum';
  }
  
  input[type="submit"]:hover {
    background-color: #bb6085;
  }
  
  input[type="submit"]:focus {
    outline: none;
  }
  
